{{#each tables}}
<li class="table" data-id="{{this}}">
    <h3 class="table-title">Table - {{this}}</h3>
    <button class="table-btn" data-action="open-order">Open order list</button>
</li>
{{/each}}